* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header {
	margin-top: 40px;
	text-align: center;
	
}

h1.title {
	font-family: 'Merriweather', serif;
	font-size: 3em;
	line-height: 1.3em;
	color: #383434;
}

h4.strapline {
	font-family: 'Merriweather', serif;
	font-size: 1.5em;
	line-height: 1.5em;
	color: #383434;
}

main {
	border-radius: 10px;
	margin: 70px 50px 0px 50px;
	font-family: 'Open Sans', sans-serif;
}

.list-container {
	min-height: 350px;
	min-width: 220px;
	overflowY: scroll;
	padding: 5px;
}

#adding-item-container {
	width: 100%;
}

#new-item {
	border-radius: 3px;
	color: rgba(64, 221, 182, 1);
	height: 50px;
	padding: 10px 10px 10px 0px;
	margin-right: 6px;
	font-size: 1.4em;
	border: none;
	width: 80%;
	margin-bottom: 50px;
}

#new-item:focus {
	outline: none;
}

button.btn {
	background-color: rgba(64, 221, 182, 1);
	background-image: url('../images/plus-sign.png');
	background-position: center;
	color: #fff;
	font-size: 1.7em;
	font-weight: bold;
	height: 50px;
	width: 50px;
	float: right;
}

button.btn:active {
	outline: none;
}

.list-container li {
	background-color: rgba(64, 221, 182, 0.15);
	min-height: 50px;
	padding: 10px;
	border: none;
	margin-bottom: 6px;
	border-radius: 3px;
	font-size: 1.3em;
	color: #383434;
	cursor: pointer;
	position: relative;
}

li.completed {
	text-decoration: line-through;
	color: #a8a8a8;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

div.cross {
	background: url('../images/remove-icon.png') center right no-repeat;
	width: 50px;
	height: 40px;
	position: absolute;
	right: 8px;
	top: 5px;
}

p.instructions {
	padding: 50px 10px 20px 4px;
	color: #a8a8a8;
	font-style: italic;
}

/*MEDIA QUERIES*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}