<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="to-do list app">
	    <title>To-do app</title>
	    <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans" rel="stylesheet">
	    <link rel="stylesheet" href="css/reset.css">
	    <link rel="stylesheet" href="css/main.css">
	    <link href="css/bootstrap.css" rel="stylesheet">
	    <link rel="icon" type="images" href="images/favicon.ico">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<header class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
					<h1 class="title">Things to do</h1>
					<h4 class="strapline">Keep track and stay on top</h4>
				</header>
			</div>
			<div class="row">
				<main id="app" class="list-container col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">  
			    	<div id="adding-item-container">
							<input 
							id="new-item" 
							type="text" placeholder="Add a to-do here"
							v-model="newTodo" 
							@keyup.enter="addNewTodo(todo)"
	 						>
							<button 
							class="btn btn-lg"
							type="button"
							@click="addNewTodo(todo)"
							>
							</button>
			    	</div>
		    		<ul id="todo-list">
							<li 
					    :class="{'completed': todo.completed}"
					    @click="markComplete(todo)"
					    v-for="todo in todos"
							>
		    				{{todo.content}}
						
								<div class="cross" @click="deleteTodo(todo)"></div>
							</li>
							
  					</ul>
  					<p 
							class="instructions"
							v-show="todos.length > 0"
							>
							Click an item to mark as done, click the cross to delete it. Drag and drop to reorder.
						</p>
				</main>
			</div>
		</div>
		<script type="text/javascript" src="js/sortable.min.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>